*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img{
  max-width: 3rem;
}

@media (min-width: 320px) { /* Targeting tablets and smaller screens */
    body {
      background-image: url('assets/photo.svg'); /* Replace with your image path */
      background-size: cover; /* Ensures the image covers the entire element */
      background-position: center; /* Centers the image */
      background-repeat: no-repeat; /* Prevents repetition */
      background-color: #302C42;
      color: #ffffff;
    }

    .nav-menu{
        display: none;
    }

    .nav-btn{
        display: none;
    }

    .nav{
        display: flex;
        justify-content: space-between;
    }

    .flex{
        display: flex;
    }
    .main-content p{
        display: none;
    }
    .main-btn i{
        display: none;
    }
    .footer{
        display: none;
    }
}

