*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img{
  max-width: 3.5rem;
}



/* mobile version */

@media (max-width: 480px) { /* Targeting tablets and smaller screens */
    body {
      background-image: url('assets/photo.svg'); /* Replace with your image path */
      background-size: cover; /* Ensures the image covers the entire element */
      background-size: 30rem;
      background-position: center; /* Centers the image */
      background-repeat: no-repeat; /* Prevents repetition */
      background-position: 60% 10%; /* Moves image 10% from left, -10% from top */
      z-index: -1; /* Places the image behind other elements */
      background-color: #302C42;
      color: #ffffff;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      scrollbar-width: none;  /* Firefox */
    }

    .nav{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        z-index: 1000;
        background-color: #302C42;
        position: fixed;
        width: 100%;
    }

    .nav-menu{
        display: none;
    }

    .nav-btn{
        display: none;
    }
    .nav img{
        max-width: 7rem;
    }
    #hamburger{
        max-width: 2rem;
    }

    

    .flex{
        display: flex;
    }
    .main{
        position: absolute;
        top: 65%;
    }
    .main-content h3{
        font-size: 2.2rem;
        margin-bottom: 30px;
        text-align: center;
    }
    .gradient-text {
        background: linear-gradient(to right, #a092ca, #cebdf1); /* Purple gradient */
        -webkit-background-clip: text; /* Clips background to text */
        -webkit-text-fill-color: transparent; /* Makes the text transparent to show the background */
        font-size: 48px;
        font-weight: bold;
      }
      
    .main-content p{
        display: none;
    }
    .main-btn i{
        display: none;
    }
    #btn{
        background: linear-gradient(to right, #8b79c1, #b6a3e0); /* Adjusted purple gradient */
        color: #2d243b; /* Dark text color */
        font-weight: bold;
        padding: 20px 80px;
        margin: 0 auto;
        border-radius: 30px; /* Rounded corners */
        border: none;
        text-align: center;
        display: block;
        text-transform: uppercase;
        cursor: pointer;
    }
    .footer{
        position: absolute;
        top: 100%;
        display: inline-block;
    }
    .footer-location_address h4{
        display: none;
    }
    .footer-location{
        background: linear-gradient(to right, #3A3456F2, #211E2E); 
        border: 2px solid #3A3456F2;
        padding: 20px;
        border-radius: 50px;
        margin: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .footer-location img{
        max-width: 2rem;
    }
    .footer-contact{
        display: none;
    }
    .footer-email{
        display: none;
    }
    .icon{
        color: white;
    }
}







/* --- Desktop mode --- */
@media screen and (min-width: 485px){
    body{
        background-color: #302C42;
        color: #ffffff;
    }
 
}


